---
layout: page
css: ["index.css"]
---

<h5> BluBLE, a wordplay between BLE and bubble, conveys very succinctly what we intend to achieve. Basically, we want to utilize Bluetooth Low Energy (BLE) beacons in order to classify the 6ft safe bubble you should be in, to maximize your social distancing effectiveness until the COVID-19 pandemic subsides. To this end, we are utilizing crowd-sourced data collection via various data collection apps we have developed. Please checkout our <a href="https://wcsng.github.io/blubble-site/categories">Data Collection</a> page to help us out by contributing to the project. The below figure visually illustrates our technical approach.</h5>


<img src="https://wcsng.github.io/blubble-site/assets/res/sys_arch.png" class="center" alt="drawing" width="500"/>

<h5> We are members of the <a href="https://wcsng.ucsd.edu">WCSNG Lab</a> (Wireless Communications Networks and Sensing), UCSD. The Lab is headed by <a href="http://web.eng.ucsd.edu/~dineshb/">Prof. Dinesh Bharadia</a>. We work very extensively in the field of wireless localization, which forms the very heart of this problem of contact tracing via bluetooth connections. </h5>

<h5> Recent publications from the lab in the field of wireless localization have been BLoc, LocAP, DLoc and more. Notably, algorithms framed by BLoc have also been adopted in the Bluetooth standards in order to obtain fine-grained localization. Feel free to browse our <a href="https://wcsng.ucsd.edu">lab webpage</a> to know more about our lab. </h5>

<!-- <div class="row">
  {% for post in paginator.posts %}
  <div class="col s12">
    <div class="card hoverable">
      <div class="card-content">
        <span id="post-title" class="card-title">{{post.title}}</span>
        <p id="post-date">
          <i class="material-icons">date_range</i>
          {{post.date | date: "%d/%m/%Y %H:%M"}}
        </p>
        <p id="post-content">{{post.excerpt | remove: '<p>' | remove: '</p>'}}</p>
      </div>
      <div class="card-action">
        <a href="{{post.url | prepend: site.baseurl}}">
          Read More
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="col s12 center-align">
    <ul class="pagination">
      <li class="{% unless paginator.previous_page %}disabled{% else %}waves-effect{% endunless %}">
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="{{site.baseurl}}/">
        {% else %}
        <a href="{{site.baseurl}}/page{{paginator.previous_page}}">
        {% endif %}
        {% else %}
        <a href="#!">
        {% endif %}
          <i class="material-icons">chevron_left</i>
        </a>
      </li>
      {% if paginator.page == 1 %}
      <li class="active teal">
        <a href="#!">1</a>
      {% else %}
      <li class="waves-effect">
        <a href="{{site.baseurl}}/">1</a>
      {% endif %}
      </li>
      {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
      <li class="active teal"><a href="#!">{{count}}</a></li>
      {% else %}
      <li class="waves-effect"><a href="{{site.baseurl}}/page{{count}}">{{count}}</a></li>
      {% endif %}
      {% endfor %}
      <li class="{% unless paginator.next_page %}disabled{% else %}waves-effect{% endunless %}">
        {% if paginator.next_page %}
        <a href="{{site.baseurl}}/page{{paginator.next_page}}">
        {% else %}
        <a href="#!">
        {% endif %}
          <i class="material-icons">chevron_right</i>
        </a>
      </li>
    </ul>
  </div>
</div> -->

<style>
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
@media screen and (min-width: 601px) {
  h4 {
    font-size:1.3vw;
    font-family: Ariel, sans-serif;
  }

  h5 {
  font-size:0.95vw;
  font-family: Ariel, sans-serif;
  }

}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h4 {
    font-size:1.5vw;
    font-family: Ariel, sans-serif;
  }
  
  h5 {
  font-size:1vw;
  font-family: Ariel, sans-serif;
  }
}

</style>