<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div class="col s12 cat-div">
  <!-- <p>We are currently developing a robust and environment-agnostic algorithm to quantify the effectiveness of social distancing. Our aim is to automate the tedious process of contact tracing to help combat COVID-19, which involves tracking the activities of a diagnosed patient and generating a network of interaction of this patient with others.</p> -->
<h4> <b>How can you help BluBLE fight COVID-19?</b></h4>

<p> BluBLE aims to provide a robust social distancing classification algorithm, coupled with designing of an accurate personalized risk score to quantify interactions with other people. In order to achieve this, we need to collect data from a diverse set of environments and devices. </p>

<p> <b> What will you get in return?</b> You helping us out in this data collection step, would allow both tailoring custom algorithms for each of you, as well as a highly robust environment agnostic system for others. </p>

<p> <b> What do you have to do?</b> We would like you to perform a simple experiment (~ 10 mins long). For the experiment, you would require two devices -- one would be a mobile device so that you can move around freely with it in your hand (<em>Mobile Device</em>); the other would be any electronic device as per your preference (<em>Base Device</em>). The <em>Base Device</em>(<em>Transmitter</em>) will transmit bluetooth signals and the <em>Mobile Device</em><em>(Receiver)</em> will receive them. Please watch this short clip to get an idea about the experiment you would be performing with base device and mobile device.</p>


<div class="overview-vid">
<iframe src="https://www.youtube.com/embed/mRIVy0DQYQY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

  <p>Please select your <em>Base Device</em> and <em>Mobile Device</em> from the follwing options to obtain the installation and experiment instructions</p>
  <div class="dev_sel" style="width:100%; clear:both; display:flex;">
  <div class="left50" style="width: 50%; float:left;">
  <h5>Base Device</h5>
    <input type="radio" id="android" name="tx" value="android_tx"  onchange="render_slides(this)" autocomplete="off" checked>
    <label for="android"> Android Phone</label><br>
    <input type="radio" id="ios" name="tx" value="ios_tx" onchange="render_slides(this)" autocomplete="off" >
    <label for="ios"> iPad/iPhone</label><br> 
    <input type="radio" id="windows" name="tx" value="windows_tx"  onchange="render_slides(this)" autocomplete="off" >
    <label for="windows"> Windows Computer</label><br>
    <input type="radio" id="mac" name="tx" value="mac_tx" onchange="render_slides(this)" autocomplete="off" >
    <label for="mac"> Mac Computer</label><br>
    <input type="radio" id="linux" name="tx" value="linux_tx" onchange="render_slides(this)" autocomplete="off" >
    <label for="linux"> Linux Computer</label><br>
    <input type="radio" id="misc" name="tx" value="other_tx" onchange="render_slides(this)" autocomplete="off" >
    <label for="misc"> Wearables/Other Beaconing Devices</label><br>
  </div>
  <div class="right50" style="width: 50%; float:right;">
  <h5>Mobile Device</h5>
  <input type="radio" id="android_rx" name="rx" value="android_rx"  onchange="render_slides(this)" autocomplete="off" checked>
  <label for="android_rx"> Android Phone</label><br>
  <input type="radio" id="ios_rx" name="rx" value="ios_rx" onchange="render_slides(this)" autocomplete="off" >
  <label for="ios_rx"> iPhone/iPad </label><br>
  </div>
  </div>

  <div class="divider"></div>
  

<div class="slides_container_android_android">
      <!-- <h4>Slides link for Setup/Experiment instructions</h4> -->
      <!-- <h5>Base Device: Android Phone, Mobile Device: Android Phone</h5> -->
       <!-- <div w3-include-html="./_includes/android-android.html"></div>  -->
        
  <center>
    <!-- <button type="button" onclick="showslides()">Click to obtain setup and install instructions</button> -->
    <a href="{{site.baseurl}}/slides/android-android.html" class="button_css">Click to obtain setup and install instructions</a>
  </center>
      <!-- <iframe src="android-android.html" seamless></iframe> -->
<!-- <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQBVUr4XMH60kFbBZGbRN7An-wAi41QYJtJ4uR0TVh8X2N6t7MlF7uVtOD2qT3A1W4WxBqiORg-PBg_/embed?start=false&loop=true&delayms=60000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
</div>

<div class="slides_container_ios_android">
      <h4>Slides for Setup/Experiment instructions</h4> 
        <h5>Base Device: iPhone/iPad, Mobile Device: Android Phone</h5>
      <!-- <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSPU1466ZjEkxDmhErqvjOoAhYiWln2AayiCMrgF2Ds-vn4c8H8N7jmPTDQIGN6GOp3-_WOuKVEOFlO/embed?start=false&loop=true&delayms=60000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
</div>

<div class="slides_container_windows_android">
      <h4>Slides for Setup/Experiment instructions</h4> 
        <h5>Base Device: Windows Computer, Mobile Device: Android Phone</h5>
      <!-- <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSQkQZiXNiWNc96OdYXOI8SPlOSaLJ7Rk84_uBZZF21xxr42S1MsYtrPjVo9pqRiETLg68sz7mwUTkL/embed?start=false&loop=true&delayms=60000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
</div>

<div class="slides_container_mac_android">
      <h4>Slides for Setup/Experiment instructions</h4>
      <h5>Base Device: Mac Computer, Mobile Device: Android Phone</h5>
      <!-- <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR46Lqanr5t1bRf1GsUBfJUKArNUadh9ObJ1mWQGhqoabLGb9o9y53NoA0Ju7SG4mv7BpnVnqt-aHYd/embed?start=false&loop=true&delayms=60000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
</div>

<div class="slides_container_linux_android">
      <h4>Slides for Setup/Experiment instructions</h4>
      <h5>Base Device: Linux Computer, Mobile Device: Android Phone</h5>
      <!-- <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQTQYzdkCnIAOcQjKEWbTO6lPm2lFaK_1uIMBJ8ZL_4soSlNu8-Y-UwHCj4aDqK31qQlpj9sikzblPe/embed?start=false&loop=true&delayms=60000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
</div>

<div class="slides_container_misc_android">
      <h4>Slides for Setup/Experiment instructions</h4>
        <h5>Base Device: Wearables/Misc, Mobile Device: Android</h5>
      <!-- <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTgz8GxK0evlKnK7GqiU0hyhm9tPaCJIgo0_tWhvyFdc36tN22-YuL2ZgxnuZRWzYUHFIR2hSxBZ0J_/embed?start=false&loop=true&delayms=60000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
</div>

<div class="slides_container_android_ios">
      <h4>Slides for Setup/Experiment instructions</h4>
        <h5>Base Device: Android Phone, Mobile Device: iPhone/iPad</h5>
      <!-- <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRbbvImrMP3mXNuvMV5F8j7AN4VvLn79ahNDIDprjCpKdFkB2DQOZOiak8hWYfGlZwNrSutHAkyJvty/embed?start=false&loop=true&delayms=60000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
</div>

<div class="slides_container_ios_ios">
      <center>
    <!-- <button type="button" onclick="showslides()">Click to obtain setup and install instructions</button> -->
    <a href="{{site.baseurl}}/slides/ios_ios.html" class="button_css">Click to obtain setup and install instructions</a>
  </center>
      <!-- <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTEpUfIjQiTBgzxmSvL-XNDSTbJfHuo5C6S8Noj1o6z8L1BewodqmPWbOKOwJJj-IKSjcZtd74GzY2s/embed?start=false&loop=true&delayms=60000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
</div>

<div class="slides_container_windows_ios">
      <h4>Slides for Setup/Experiment instructions</h4>
        <h5>Base Device: Windows Computer, Mobile Device: iPhone/iPad</h5>
      <!-- <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRJvbiHWwQLuWEP2ZwwzCDOw05DJSgk-LxnnOOUljaqjLwZXdN2p8uEwyD-VcgzLpZPTk-MwlR2UBYp/embed?start=false&loop=true&delayms=60000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
</div>

<div class="slides_container_mac_ios">
      <h4>Slides for Setup/Experiment instructions</h4>
        <h5>Base Device: Mac Computer, Mobile Device: iPhone/iPad</h5>
      <!-- <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ8QV7ni4gK7jRNkXgKUmylcv37z_TA5vSLa_wPtRX0nlD5DoU14_rBO7JRKBBgbjuWyGXwf6meMhM6/embed?start=false&loop=true&delayms=60000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
</div>

<div class="slides_container_linux_ios">
      <h4>Not supported as of yet </h4>
        <h5>Base Device: Linux Computer, Mobile Device: iPhone/iPad</h5>
<!--       <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQWlbzYhCHv4LDDOLrZsBaXPHT0oAcKmd-rz8tRI9SxpqKorECjKofQ15Qs8mgozOuKTyVvLHip26VZ/embed?start=false&loop=true&delayms=60000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
</div>

<div class="slides_container_misc_ios">
      <h4>Slides for Setup/Experiment instructions</h4>
      <h5>Base Device: Wearables/Misc, Mobile Device: iPhone/iPad</h5>
      <!-- <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ6ive7tRdsklv5whW-vwyVszcApBx8OaE4MhlCdI97CLaFNmkJi-OqE5VrlYSt_ujwjDdEVEByGKfK/embed?start=false&loop=true&delayms=60000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
</div>

<script type="text/javascript">

prev_tx = "android";
prev_rx = "android";

// function showslides(){
//   $(".slides_container_"+prev_tx+"_"+prev_rx).show();
// }

function render_slides(myRadio) {
    if(myRadio.name=="tx")
    {
      // alert("Changing Base Device to: "+myRadio.id)
      $(".slides_container_"+prev_tx+"_"+prev_rx).hide();
      new_tx = myRadio.id;
      $(".slides_container_"+new_tx+"_"+prev_rx).show();
      prev_tx = new_tx;
    }
    else {
      // alert("Changing Mobile Device to: "+myRadio.id)
      if(prev_rx=="android"){
        new_rx="ios";
      }
      else{
        new_rx="android"; 
      }
      $(".slides_container_"+prev_tx+"_"+prev_rx).hide();
      $(".slides_container_"+prev_tx+"_"+new_rx).show();
      prev_rx = new_rx;
    }
    // alert('Old value: ' + current_tx);
    // alert('New value: ' + myRadio.id);
    // current_tx = myRadio.id;
}

  // $(function(){
  //   var includes = $('[data-include]');
  //   jQuery.each(includes, function(){
  //     var file = '{{site.baseurl}}/slides/' + $(this).data('include') + '.html';
  //     $(this).load(file);
  //   });
  // });

</script>

<!-- <style>
/*div.example {
  padding: 0px;
}
*/
@media screen and (min-width: 301px) {
  div.example {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  div.example {
    font-size: 10px;
  }
}
</style> -->
<style>
  .button_css {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


@media screen and (min-width: 601px) {
  h4 {
    font-size:22px;
    font-family: Ariel, sans-serif;
  }
  p {
    font-size:18px;
    font-family: Roboto, sans-serif;
  }
  li {
    font-size:18px;
    font-family: Roboto, sans-serif;
  }
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  h5 {
  font-size:20px;
  font-family: Ariel, sans-serif;
  }
  
  .button_sel button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }
  .overview-vid {
     width:100%    
  }  
  .overview-vid iframe {
     width:50%;
    height:300px;    
  }

  .slides_container_android_android{
  width:100%;
  }
   .slides_container_android_android iframe{
   width:90%;
   height:5000px;
   } 
.slides_container_ios_android{
  width:100%;
  }
 .slides_container_ios_android iframe{
 width:80%;
 height:500px;
 } 
.slides_container_windows_android{
  width:100%;
  }
 .slides_container_windows_android iframe{
 width:80%;
 height:500px;
 } 
.slides_container_mac_android{
  width:100%;
  }
 .slides_container_mac_android iframe{
 width:80%;
 height:500px;
 } 
.slides_container_linux_android{
  width:100%;
  }
 .slides_container_linux_android iframe{
 width:80%;
 height:500px;
 } 
.slides_container_misc_android{
  width:100%;
  }
 .slides_container_misc_android iframe{
 width:80%;
 height:500px;
 } 
.slides_container_android_ios{
  width:100%;
  }
 .slides_container_android_ios iframe{
 width:80%;
 height:500px;
 } 
.slides_container_ios_ios{
  width:100%;
  }
 .slides_container_ios_ios iframe{
 width:80%;
 height:500px;
 } 
.slides_container_windows_ios{
  width:100%;
  }
 .slides_container_windows_ios iframe{
 width:80%;
 height:500px;
 } 
.slides_container_mac_ios{
  width:100%;
  }
 .slides_container_mac_ios iframe{
 width:80%;
 height:500px;
 } 
.slides_container_linux_ios{
  width:100%;
  }
 .slides_container_linux_ios iframe{
 width:80%;
 height:500px;
 } 
.slides_container_misc_ios{
  width:100%;
  }
 .slides_container_misc_ios iframe{
 width:80%;
 height:500px;
 } 
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h4 {
    font-size:3.5vw;
    font-family: Roboto, sans-serif;
  }


  h5 {
  font-size:2.5vw;
  font-family: Roboto, sans-serif;
  }

  p {
    font-size:3vw;
    font-family: Roboto, sans-serif;
  }
  .overview-vid {
     width:100%    
  }  
  .overview-vid iframe {
     width:80%;
    height:200px;    
  }
  .button_sel button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }
    .slides_container_android_android{
  width:100%;
  }
   .slides_container_android_android iframe{
   width:90%;
   height:300px;
   } 

.slides_container_ios_android{
  width:100%;
  }
 .slides_container_ios_android iframe{
 width:90%;
 height:300px;
 } 
.slides_container_windows_android{
  width:100%;
  }
 .slides_container_windows_android iframe{
 width:90%;
 height:300px;
 } 
.slides_container_mac_android{
  width:100%;
  }
 .slides_container_mac_android iframe{
 width:90%;
 height:300px;
 } 
.slides_container_linux_android{
  width:100%;
  }
 .slides_container_linux_android iframe{
 width:90%;
 height:300px;
 } 
.slides_container_misc_android{
  width:100%;
  }
 .slides_container_misc_android iframe{
 width:90%;
 height:300px;
 } 
.slides_container_android_ios{
  width:100%;
  }
 .slides_container_android_ios iframe{
 width:90%;
 height:300px;
 } 
.slides_container_ios_ios{
  width:100%;
  }
 .slides_container_ios_ios iframe{
 width:90%;
 height:300px;
 } 
.slides_container_windows_ios{
  width:100%;
  }
 .slides_container_windows_ios iframe{
 width:90%;
 height:300px;
 } 
.slides_container_mac_ios{
  width:100%;
  }
 .slides_container_mac_ios iframe{
 width:90%;
 height:300px;
 } 
.slides_container_linux_ios{
  width:100%;
  }
 .slides_container_linux_ios iframe{
 width:90%;
 height:300px;
 } 
.slides_container_misc_ios{
  width:100%;
  }
 .slides_container_misc_ios iframe{
 width:90%;
 height:300px;
 } 

}


</style>

</div>


