<div class="col s12 cat-div">
  <h4>Please select your Data collection platform to obtain setup instructions</h4>
  <h5>Transmitter Device</h5>
    <input type="checkbox" id="android_tx" name="android_tx" value="android_tx" onchange="toggle_tx_android()">
    <label for="android_tx"> Android</label><br>
    <input type="checkbox" id="ios_tx" name="ios_tx" value="ios_tx"  onchange="toggle_tx_ios()">
    <label for="ios_tx"> iPad + iPhone</label><br> 
    <input type="checkbox" id="windows_tx" name="windows_tx" value="windows_tx"  onchange="toggle_tx_windows()">
    <label for="windows_tx"> Windows</label><br>
    <input type="checkbox" id="mac_tx" name="mac_tx" value="mac_tx"  onchange="toggle_tx_mac()">
    <label for="mac_tx"> Mac</label><br>
    <input type="checkbox" id="other_tx" name="other_tx" value="other_tx"  onchange="toggle_tx_others()">
    <label for="other_tx"> Wearables/Other Beaconing Devices</label><br>
  
  <h4>Receiver Device</h4>
  <input type="checkbox" id="rxAndroid" name="rxandroid" value="rxandroid" checked>
  <label for="rx1"> Android</label><br>
  
  <h6> * Support for iOS receivers upcoming * </h6>

  <div class="divider"></div>

<!-- <div class="container">
<iframe  title="Android-Android testing" width="480" height="390" src="https://drive.google.com/file/d/14-RqQXppvq7xpLuF_-QCu3M6yujFztEo/view?usp=sharing"></iframe>
</div> -->
<div class="video-container_android">
    <div class = "example" style="width: 40%; float:left;" >
      <h5>Android Transmitter and Receiver. Required Installations:</h5>
      <ul>
        <li><h5>Android TX-RX App: <a href="https://drive.google.com/file/d/144KDk2QzB9wQzIYE_qol_VDVzXLX3Vvq/view?usp=sharing"  style="color:blue">link</a></h5></li>
      </ul>  
      <h5>Please see the audio guided video on the right for installation and experiment instructions</h5>

    </div>
    <div style="width: 60%; float:right">
      <iframe src="https://drive.google.com/file/d/10i9CFUi_NZLqLBQJkpegpqj3CPqPqKxV/preview" width="640" height="480" allowfullscreen>
      </iframe>
    </div>
</div>

<div class="video-container_ios">
    <div class="example" style="width: 40%; float:left;">
      <h5>iOS Transmitter, Android Receiver. Required Installations:</h5>
      <ul>
        <li><h5>Android RX App: <a href="https://drive.google.com/file/d/144KDk2QzB9wQzIYE_qol_VDVzXLX3Vvq/view?usp=sharing"  style="color:blue">link</a></h5></li>
        <li><h5>iOS Beacon Scanner App: <a href="https://apps.apple.com/us/app/ble-scanner-4-0/id1221763603" style="color:blue">link</a>. Works good with both iPad and iPhone.</h5></li>
      </ul>  
      <h5>Please see the audio guided video on the right for installation and experiment instructions</h5>
    </div>

    <div style="width: 60%; float:right">
      <iframe src="https://drive.google.com/file/d/14-RqQXppvq7xpLuF_-QCu3M6yujFztEo/preview" width="640" height="480" allowfullscreen>
      </iframe>
    </div>
</div>

<div class="video-container_windows">
<div class="example" style="width: 40%; float:left;">
      <h5>Windows Transmitter, Android Receiver. Required Installations:</h5>
      <ul>
        <li><h5>Android RX App: <a href="https://drive.google.com/file/d/144KDk2QzB9wQzIYE_qol_VDVzXLX3Vvq/view?usp=sharing"  style="color:blue">link</a></h5></li>
        <li><h5>Windows Quick Beacon App: <a href="https://www.microsoft.com/en-us/p/quick-beacon/9nblggh43mp7" style="color:blue">link</a> </h5></li>
      </ul>  
      <h5>Please see the audio guided video on the right for installation and experiment instructions</h5>

    </div>
    <div style="width: 60%; float:right">
      <iframe src="https://drive.google.com/file/d/10ZIKqfFWeSEo2hGMFIUkmMz3vtzaAP6r/preview" width="640" height="480" allowfullscreen>
      </iframe>
    </div>
</div>

<div class="video-container_mac">
<div class="example" style="width: 40%; float:left;">
      <h5>Mac Transmitter, Android Receiver. Required Installations:</h5>
      <ul>
        <li><h5>Android RX App: <a href="https://drive.google.com/file/d/144KDk2QzB9wQzIYE_qol_VDVzXLX3Vvq/view?usp=sharing"  style="color:blue">link</a></h5></li>
        <li><h5>Mac transmit script: <a href="https://drive.google.com/file/d/1bU_RQNibKKXFfpnecKu6VicWzVhLisC4/view?usp=sharing" style="color:blue">link</a> </h5></li>
      </ul>  
      <h5>Please see the audio guided video on the right for installation and experiment instructions</h5>

    </div>
    <div style="width: 60%; float:right">
      <iframe src="https://drive.google.com/file/d/10ZIKqfFWeSEo2hGMFIUkmMz3vtzaAP6r/preview" width="640" height="480" allowfullscreen>
      </iframe>
    </div>
</div>

<div class="video-container_others">
<div class="example" style="width: 40%; float:left;">
      <h5>Wearable and other beaconing devices as the Transmitter (Fitbits/Tile etc) and Android Receiver. Required Installations:</h5>
      <ul>
        <li><h5>Android RX App: <a href="https://drive.google.com/file/d/144KDk2QzB9wQzIYE_qol_VDVzXLX3Vvq/view?usp=sharing"  style="color:blue">link</a></h5></li>
      </ul>  
      <h5>Please see the audio guided video on the right for installation and experiment instructions</h5>

    </div>
    <div style="width: 60%; float:right">
      <iframe src="https://drive.google.com/file/d/178KDPLf40wGeHJgiZrgDqFZuyTjsSoht/preview" width="640" height="480" allowfullscreen>
      </iframe>
    </div>
</div>

<script type="text/javascript">
  function toggle_tx_android(){

  if (document.getElementById('android_tx').checked) {
    $(".video-container_android").show(); 
  } else {
       $(".video-container_android").hide();
  }
  }

  function toggle_tx_ios(){

  if (document.getElementById('ios_tx').checked) {
    $(".video-container_ios").show();
  } else {
    $(".video-container_ios").hide();
  }
  }

    function toggle_tx_windows(){

  if (document.getElementById('windows_tx').checked) {
    $(".video-container_windows").show();
  } else {
    $(".video-container_windows").hide();
  }
  }


    function toggle_tx_mac(){

  if (document.getElementById('mac_tx').checked) {
    $(".video-container_mac").show();
  } else {
    $(".video-container_mac").hide();
  }
  }

    function toggle_tx_others(){

  if (document.getElementById('other_tx').checked) {
    $(".video-container_others").show();
  } else {
    $(".video-container_others").hide();
  }
  }
</script>

<!-- <style>
/*div.example {
  padding: 0px;
}
*/
@media screen and (min-width: 301px) {
  div.example {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  div.example {
    font-size: 10px;
  }
}
</style> -->
<style>
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (min-width: 601px) {
  h4 {
    font-size:1.3vw;
    font-family: Ariel, sans-serif;
  }

  h5 {
  font-size:0.95vw;
  font-family: Ariel, sans-serif;
  }

}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h4 {
    font-size:3.5vw;
    font-family: Ariel, sans-serif;
  }


  h5 {
  font-size:2.5vw;
  font-family: Ariel, sans-serif;
  }
}


</style>

</div>
