---
---
@mixin transition($args...)
  -webkit-transition: $args
  -moz-transition: $args
  -ms-transition: $args
  -o-transition: $args
  transition: $args

.cat-chip
  color: #616161
  margin-right: 5px
  text-decoration: none

  &:hover
    div
      color: #fff
      background-color: #616161

  div
    @include transition(all .3s ease-in-out)

.cat-chip2
  color: #616161
  margin-right: 5px
  text-decoration: none

  &:hover
    div
      color: #fff
      background-color: #616161

  div
    @include transition(all .3s ease-in-out)

.slides_container_android_android
  position: relative
  padding-bottom: 5%
  padding-top: 50px
  height: 0
  overflow: hidden
  margin-bottom: 2em
  margin-top: 2em
  display: none

  .slides_container_android_android iframe,
  .slides_container_android_android object,
  .slides_container_android_android embed,
  position: relative 
  top: 0 
  right: 0 
  width: 100% 
  height: 100% 

.slides_container_ios_android
  position: relative
  padding-bottom: 5%
  padding-top: 35px
  height: 0
  overflow: hidden
  margin-bottom: 2em
  margin-top: 2em
  display: none 

  .slides_container_ios_android iframe,
  .slides_container_ios_android object,
  .slides_container_ios_android embed,
  position: relative
  top: 0 
  right: 0 
  width: 100% 
  height: 100% 

.slides_container_windows_android
  position: relative
  padding-bottom: 5%
  padding-top: 35px
  height: 0
  overflow: hidden
  margin-bottom: 2em
  margin-top: 2em
  display: none 

  .slides_container_windows_android iframe,
  .slides_container_windows_android object,
  .slides_container_windows_android embed,
  position: relative
  top: 0 
  right: 0 
  width: 100% 
  height: 100% 

.slides_container_mac_android
  position: relative
  padding-bottom: 5%
  padding-top: 35px
  height: 0
  overflow: hidden
  margin-bottom: 2em
  margin-top: 2em
  display: none 

  .slides_container_mac_android iframe,
  .slides_container_mac_android object,
  .slides_container_mac_android embed,
  position: relative
  top: 0 
  right: 0 
  width: 100% 
  height: 100% 

.slides_container_linux_android
  position: relative
  padding-bottom: 5%
  padding-top: 35px
  height: 0
  overflow: hidden
  margin-bottom: 2em
  margin-top: 2em
  display: none 

  .slides_container_linux_android iframe,
  .slides_container_linux_android object,
  .slides_container_linux_android embed,
  position: relative
  top: 0 
  right: 0 
  width: 100% 
  height: 100% 

.slides_container_misc_android
  position: relative
  padding-bottom: 5%
  padding-top: 35px
  height: 0
  overflow: hidden
  margin-bottom: 2em
  margin-top: 2em
  display: none 

  .slides_container_misc_android iframe,
  .slides_container_misc_android object,
  .slides_container_misc_android embed,
  position: relative
  top: 0 
  right: 0 
  width: 100% 
  height: 100% 

.slides_container_android_ios
  position: relative
  padding-bottom: 5%
  padding-top: 35px
  height: 0
  overflow: hidden
  margin-bottom: 2em
  margin-top: 2em
  display: none 

  .slides_container_android_ios iframe,
  .slides_container_android_ios object,
  .slides_container_android_ios embed,
  position: relative
  top: 0 
  right: 0 
  width: 100% 
  height: 100% 

.slides_container_ios_ios
  position: relative
  padding-bottom: 5%
  padding-top: 35px
  height: 0
  overflow: hidden
  margin-bottom: 2em
  margin-top: 2em
  display: none 

  .slides_container_ios_ios iframe,
  .slides_container_ios_ios object,
  .slides_container_ios_ios embed,
  position: relative
  top: 0 
  right: 0 
  width: 100% 
  height: 100% 

.slides_container_windows_ios
  position: relative
  padding-bottom: 5%
  padding-top: 35px
  height: 0
  overflow: hidden
  margin-bottom: 2em
  margin-top: 2em
  display: none 

  .slides_container_windows_ios iframe,
  .slides_container_windows_ios object,
  .slides_container_windows_ios embed,
  position: relative
  top: 0 
  right: 0 
  width: 100% 
  height: 100% 

.slides_container_mac_ios
  position: relative
  padding-bottom: 5%
  padding-top: 35px
  height: 0
  overflow: hidden
  margin-bottom: 2em
  margin-top: 2em
  display: none 

  .slides_container_mac_ios iframe,
  .slides_container_mac_ios object,
  .slides_container_mac_ios embed,
  position: relative
  top: 0 
  right: 0 
  width: 100% 
  height: 100% 

.slides_container_linux_ios
  position: relative
  padding-bottom: 5%
  padding-top: 35px
  height: 0
  overflow: hidden
  margin-bottom: 2em
  margin-top: 2em
  display: none 

  .slides_container_linux_ios iframe,
  .slides_container_linux_ios object,
  .slides_container_linux_ios embed,
  position: relative
  top: 0 
  right: 0 
  width: 100% 
  height: 100% 

.slides_container_misc_ios
  position: relative
  padding-bottom: 5%
  padding-top: 35px
  height: 0
  overflow: hidden
  margin-bottom: 2em
  margin-top: 2em
  display: none 

  .slides_container_misc_ios iframe,
  .slides_container_misc_ios object,
  .slides_container_misc_ios embed,
  position: relative
  top: 0 
  right: 0 
  width: 100% 
  height: 100% 


.cat-div
  .divider
    margin: 20px 0

.post-date
  margin-left: 10px

ul
  &:not(.browser-default)
    &.cat-post
      padding-left: 0

      a
        text-decoration: none
        color: #00695c

      li
        list-style-position: inside
        padding-left: 40px

        &:hover
          list-style-type: circle
          padding-left: 20px

        @include transition(all .2s ease-in-out)